
/*TOOLTIP*/
/*Ubica el logo de ? dentro del input
#tooltipBitacora{
    position: absolute;
    right: 0.7rem;
    top: 10%;
    cursor: pointer;
    color: #aaa; /* Color del ícono /
    max-width: 1rem;
    padding-top: 0.4rem;
}*/

/*Colores tooltip*/
.tippy-box[data-theme~='light'] {
    background-color: #f1f4f9;
    color: navy;
}

/*arrow*/
/* The border */
.tippy-box[data-theme~='light'] > .tippy-svg-arrow > svg:first-child {
    fill: #f1f4f9;
}

/* The fill */
.tippy-box[data-theme~='light'] > .tippy-svg-arrow > svg:last-child {
    fill: #f1f4f9;
}